<div class="post threadpost">
  <% if post[:Picture] %>
    <a class="file-thumb" href="http://p2.komica.ml/00/src/<%= post[:Picture] %>" target="_blank" rel="nofollow">
      <img src="http://p2.komica.ml/00/thumb/<%= post[:Picture].split('.')[0] %>s.jpg" class="img"/>
    </a>
  <% end %>
  <div class="post-head">
    <span class="title"><%= post[:Title] %></span>
    <span class="name"><%= post[:Name] %></span>
    <span class="now"><%= post[:Date] %>(日)<%= post[:Time] %></span>
    <span class="id" data-id="<%= post[:Id] %>">ID:<%= post[:Id] %></span>
    <span class="qlink" data-no="<%= post[:No] %>">No.<%= post[:No] %></span>
    <span class="rlink">[<a href="http://rem.komica2.net/00/pixmicat.php?res=<%= post[:No] %>">回應</a>]</span>
  </div>
  <div class="quote">
    <%= post[:Content].split('\n').join('<br>') %>
  </div>
</div>
