<%
  require './Domain/HomuAPI'
  homu = HomuAPI.new
  res = homu.GetRes '7792143'
  head = res['Head']
  bodies = res['Bodies']
  head_picture = head['Picture'].split('.')
%>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= head['Title']%> - 綜合 - KOMICA</title>
    <meta name="robots" content="all">
    <meta name="keywords" content="KOMICA">
    <meta name="description" content="<%= head['Content']%>">
    <meta property="og:site_name" content="KOMICA">
    <meta property="og:title" content="<%=head['Title']%>">
    <meta property="og:description" content="<%= head['Content']%>">
    <link rel="canonical" href="https://www.ptt.cc/bbs/Gossiping/M.1463296597.A.5E2.html">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-common.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-base.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-custom.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/pushstream.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-print.css" media="print">
</head>

<body>
<div id="main-container">
<div id="main-content" class="bbs-screen bbs-content"><div class="article-metaline"><span class="article-meta-tag">作者</span><span class="article-meta-value"><%=head['Name']%>(<%=head['Id']%>)</span></div><div class="article-metaline-right"><span class="article-meta-tag">看板</span><span class="article-meta-value">綜合</span></div><div class="article-metaline"><span class="article-meta-tag">標題</span><span class="article-meta-value"><%=head['Title']%></span></div><div class="article-metaline"><span class="article-meta-tag">時間</span><span class="article-meta-value">20<%=head['Date']%> <%=head['Time']%></span></div>       
<%if head['Picture']%>
<a href="http://homu.komica.org/00/src/<%= head['Picture']%>" target="_blank"><img src="http://homu.komica.org/00/thumb/<%= head_picture[0]%>s.<%= head_picture[1]%>"></a>
<%end%>
<%= head['Content']%>

--
<span class="f2">※ 發信站: KOMICA, NO.<%= head['No']%>
</span><span class="f2">※ 文章網址: <a href="http://homu.komica.org/00/index.php?res=<%= head['No']%>" target="_blank" rel="nofollow">http://homu.komica.org/00/index.php?res=<%= head['No']%></a>

<% bodies.each do |body| %>
</span><div class="push"><span class="f1 hl push-tag">→ </span><span class="f3 hl push-userid"><%= body['Id']%></span><span class="f3 push-content">: <%= body['Content']%></span><span class="push-ipdatetime"> <%= body['Date']%><%= body['Time']%>
<% end %>


</span><div class="push"><span class="f1 hl push-tag">→ </span><span class="f3 hl push-userid">nba10346</span><span class="f3 push-content">: 這我一定吉</span><span class="push-ipdatetime"> 05/15 15:16
</span></div><div class="push"><span class="hl push-tag">推 </span><span class="f3 hl push-userid">davidbear203</span><span class="f3 push-content">: 沒分類會毀滅帳號</span><span class="push-ipdatetime"> 05/15 15:17
</span></div><div class="push"><span class="f1 hl push-tag">→ </span><span class="f3 hl push-userid">barbarian72</span><span class="f3 push-content">: 分類啦幹！</span><span class="push-ipdatetime"> 05/15 15:17
</span></div><div class="push"><span class="hl push-tag">推 </span><span class="f3 hl push-userid">kutkin</span><span class="f3 push-content">: 本來就不是朋友  你誤會了吧</span><span class="push-ipdatetime"> 05/15 15:17
</span></div><div class="push"><span class="hl push-tag">推 </span><span class="f3 hl push-userid">les5277</span><span class="f3 push-content">: 我知道分開旅行會毀滅愛情</span><span class="push-ipdatetime"> 05/15 15:17
</span></div><div class="push"><span class="f1 hl push-tag">→ </span><span class="f3 hl push-userid">cpc21478</span><span class="f3 push-content">: 同4F 本來就不是朋友了 又沒革命情感</span><span class="push-ipdatetime"> 05/15 15:17
</span></div><div class="push"><span class="f1 hl push-tag">→ </span><span class="f3 hl push-userid">saiulbb</span><span class="f3 push-content">: 哀 沒辦法</span><span class="push-ipdatetime"> 05/15 15:19
</span></div><div class="push"><span class="f1 hl push-tag">→ </span><span class="f3 hl push-userid">xul4m4vu6666</span><span class="f3 push-content">: 我掛名 60吉格就好</span><span class="push-ipdatetime"> 05/15 15:19
</span></div><div class="push"><span class="f1 hl push-tag">→ </span><span class="f3 hl push-userid">alien4024</span><span class="f3 push-content">: 我都吸% 然後上台唬爛的</span><span class="push-ipdatetime"> 05/15 15:21
</span></div></div>

</body>
</html>
