<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>討論串列表 - 綜合 - KOMICA</title>
  <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.22/bbs-common.css">
  <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.22/bbs-base.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.22/bbs-custom.css">
  <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.22/pushstream.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.22/bbs-print.css" media="print">
  <style> a{text-decoration:none} </style>
</head>

<body>
<div id="main-container">
<div id="topbar-container"><div id="topbar" class="bbs-content"><span class='f7 hl'><a href='<%= Hosts::Const::KOMICA_URL %>' target='_blank'>KOMICA</a> - <a href='<%= Hosts::Const::HOMU_INDEX %>' target="_blank">綜合</a> - 討論串列表</span><a href='./api' style="float:right">APIs</a> <a href='<%= Hosts::Const::HOMU_API_URL %>' style="float:right">即時綜合</a></div></div>
<div id="main-content" class="bbs-screen bbs-content"><span class='f0 b7'>   編號    日 期 作  者   文  章  標  題                                                            </span>
<% @heads.each do |head| %><span><%= get_long_line head %></span>
<% end %><span>
</span><span class='f0 hl'><% if @page == 0 %>最前頁<% else %><a href='./?page=<%= @page - 1 %>'>上一頁</a><% end %> <% (0..9).each do |i| %><% if @page == i %><span class="hl">[<%=i%>]</span><% else %><a href='./?page=<%=i%>'>[<%=i%>]</a><% end %><% end %> <% if @page == 9 %>最後頁<% else %><a href='./?page=<%= @page + 1 %>'>下一頁</a><% end %></span>
</div>
</div>
</body>
</html>
