<%
  require './Domain/HomuAPI'
  homu = HomuAPI.new
  pages = []
  # (0..1).each do |i|
  #   pages << homu.GetPage(i.to_s)
  # end
  pages << homu.GetPage(@page)
  heads = []
  pages.each do |page|
    page.each do |block|
      heads << block['Head']
    end
  end
  heads.reverse!

  def small_picture picture
    s = picture.split('.')
    return s[0] + 's.jpg'
  end

  def get_puch_count count
    i = count.to_i
    if count.nil?
      return "  "
    elsif i < 10
      return "<span class=\"f2 hl\"> #{count}</span>"
    elsif i >= 10
      return "<span class=\"f3 hl\">#{count}</span>"
    elsif i >= 100
      return "<span class=\"f1 hl\">爆</span>"
    end 
  end

  def get_n_bytes_string n, string
    space = n
    str = ''
    string.each_char do |c|
      size = c.bytes.to_a.size
      size -= 1 if size > 1
      space -= size
      break if space < 0
      str += c
    end
    return str
  end

  def get_title dialog
    tag = dialog['Title']
    content = dialog['Content'].split("\n").first
    tag = get_n_bytes_string 4, tag if tag.bytes.to_a.size > 4
    content = get_n_bytes_string 64, content if content.bytes.to_a.size > 64
    title = '[' + tag + '] ' + content
    return "<a href='read/#{dialog['No']}'>" + title + "</a>"
  end
%>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>綜合 - 討論串列表 - KOMICA</title>
    <meta name="keywords" content="KOMICA">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-common.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-base.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-custom.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/pushstream.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/v2.17/bbs-print.css" media="print">
    <style>a{text-decoration:none}</style>
</head>

<body>
<div id="main-container">
<div id="main-content" class="bbs-screen bbs-content"><span class='f0 b7'>   編號    日 期 作  者   文  章  標  題                                                            </span>
<% heads.each do |head| %><%= head['No']%> <%= get_puch_count head['Hidenbodycount']%> <%= head['Date'][3..7]%> <%= head['Id']%> <%= get_title head%>
<% end %>
<span class='f0 hl'><% if @page == '0' %>最前頁<% else %><a href='./?page=<%=@page.to_i - 1%>'>上一頁</a><% end %> <% (0..9).each do |i| %><% if @page == i.to_s %>[<%=i%>]<% else %><a href='./?page=<%=i%>'>[<%=i%>]</a><% end %><% end %> <% if @page == '9' %>最後頁<% else %><a href='./?page=<%=@page.to_i + 1%>'>下一頁</a><% end %></span>
</body>
</html>
